output {
 elasticsearch {
   hosts => ["ec2-34-236-153-61.compute-1.amazonaws.com:9200"]
   sniffing => true
   manage_template => false
   index => "%{[@metadata][beat]}-%{+YYYY.MM.dd}"
   document_type => "%{[@metadata][type]}"
 }
}i
